@model AccountVM
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="breadcrumb-area py-5 py-sm-0">
    <div class=" bg-shade text-center py-4">
        <a asp-controller="home" asp-action="index" class="  text-decoration-none text-white work-sans hover2 t-5">HOME </a>
        <span class=" text-white">/</span>
        <span class=" text-white work-sans">Forgot password</span>
    </div>
</section>

<!--====== Breadcrumb-Area End ======-->
<!--====== Login-Area Start ======-->
<div class="login-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 bg-white py-5 my-5">
                <div class="login">
                    <div class="login-text">
                        <h2 class="text-center">Find your password</h2>
                        <p class="text-grey2 text-center work-sans pb-4">Please enter your mail.</p>
                    </div>
                    <div class="login-form px-4">
                        <form method="post">
                            <input asp-for="AppUser.Email" class="shadow py-2 ps-3 border-0 work-sans  w-100" style="outline: none;" placeholder="Email">
                           
                            <div class="d-flex">
                                <div class="login-toggle-btn pt-5 d-flex justify-content-">
                                    <div class="form-action-button align-items-center ">
                                        <button type="submit" class="border-0 px-4 py-2 hover3 bg-transparent shadow t-5 work-sans" style="outline: none;">Send!</button>
                                    </div>

                                    <div class="form-action-button ml-5 justify-content-end" style="padding-left: 410px;">
                                        <a href="/account/register" id="" class="text-decoration-none text-grey2 work-sans hover2 t-5">Register?</a>
                                    </div>
                                </div>
                            </div><br />
                            <div class="form-action-button ml-5 justify-content-end" style="padding-left: 205px;">
                                <a href="/account/login" id="" class="text-decoration-none text-grey2 work-sans hover2 t-5">Already have account? Login!</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====== Login-Area End ======-->
